@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100");
@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
  background-color: #eeeeee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}